body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

#bingo-container {
  width: 960px; 
}

#header {
  text-align: center;
  margin-bottom: 20px;
}

#current-ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aba7a7;
  margin: 0 auto;
  font-size: 3em;
}

#next-ball, #new-game {
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 1em;
}

.bingo-row {
  display: flex;
  justify-content: center;
}

.bingo-row span {
  width: 60px; /* それぞれの球のスペース */
  height: 60px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bingo-board {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#bingo-board h3 {

  margin-right: 15px;
}


